:root {
  --list-width: 26%;
  --list-char-color: aliceblue;
}

.general-list-container {
  list-style: none;
  width: var(--list-width);
  margin: 0 auto;
}

.general-list-container a {
  color: aliceblue;
}

.general-list-item {
  margin: 1.25rem;
  padding: 0.3rem;
  background-color: #0d0aac;
  border: 1px solid #11beb6;
  color: magenta;
  overflow: hidden;
}

.general-list-item a {
  color: var(--list-char-color);
  text-decoration: none;
}