:root {
  --list-width: 30%;
  --list-char-color: aliceblue;
}

ul {
  list-style: none;
  width: var(--list-width);
  color: aliceblue;
  margin: 0 auto;
}

ul a {
  color: yellow;
}

li {
  margin: 1.25rem;
  padding: 0.3rem;
  background-color: #0d0aac;
  border: 1px solid #11beb6;
  color: magenta;
  overflow: hidden;
}

li a {
  color: var(--list-char-color);
  text-decoration: none;
}