:root {
  --list-width: 26%;
  --list-char-color: aliceblue;
}

.Commit-container {
  background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(121, 9, 102, 0.5410539215686274) 72%, rgba(84, 47, 133, 0.711922268907563) 100%);
}

.commit-history-header {
  position: relative;
  top: 35rem;
  margin-left: 2.5rem;
  font: 2em/1 Bodoni, serif;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 600;
  font-size: x-large;
  letter-spacing: 0.2rem;
  color: goldenrod;
  text-align: left;
  animation: fadeIn 4s infinite alternate;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
}


.repocommits-general {
  list-style: none;
  width: var(--list-width);
  margin: 0 auto;
}

.repocommits-general a {
  color: aliceblue;
}

.repolist-item {
  margin: 1.25rem;
  padding: 0.3rem;
  background-color: #2c032a;
  border: 1px solid #70108d;
  color: goldenrod;
  overflow: hidden;
}

.repolist-item a {
  color: var(--list-char-color);
  text-decoration: none;
}