:root {
  --list-width: 26%;
  --list-char-color: aliceblue;
}


.commit-history-header {
  position: relative;
  margin: 2 auto;
  margin-left: 1rem;
  font: 2em/1 Bodoni, serif;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 600;
  font-size: x-large;
  letter-spacing: 0.2rem;
  color: goldenrod;
  text-align: left;
  animation: fadeIn 4s infinite alternate;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
}


.repocommits-general {
  list-style: none;
  width: var(--list-width);
  margin: 0 auto;
}

.repocommits-general a {
  color: aliceblue;
}

.repolist-item {
  margin: 1.25rem;
  padding: 0.3rem;
  background-color: #2c032a;
  border: 1px solid #70108d;
  color: goldenrod;
  overflow: hidden;
}

.repolist-item a {
  color: var(--list-char-color);
  text-decoration: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {}